<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Class 27</title>
</head>

<body>
    <header>
        <center>
            <h3>Welcome to the Snack App</h3>
        </center>
    </header>
    <main>
        {% block content %}

        {% endblock content %}
    </main>
    <footer>
        <center>
            <p> &copy MOEGTS 2021</p>
        </center>
    </footer>
</body>

</html>